aws-cdk-lib
aws-cdk.aws-glue-alpha
aws-cdk.aws-kinesisfirehose-alpha
aws-cdk.aws-kinesisfirehose-destinations-alpha
aws-cdk.aws-kinesisanalytics-flink-alpha
constructs
aws_ddk_core==0.5.1
boto3
wrapt
cdk-watchful